.header-links a {
  margin: 0 1rem;
  color: black;
}

#signup-button {
  background-color: rgb(26, 121, 255);
  border-radius: 24px;
  box-shadow: rgb(115, 173, 255) 0px 10px 10px -10px;
  color: white;
  margin-left: 1rem;
  font-weight: 500;
  height: fit-content;
}

#account-link-container {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  #account-link-container {
    justify-content: flex-end;
  }
}

#logo {
  max-height: 2rem;
}

header {
  /* margin-top: 2rem; */
}
