#splash-title-container {
  display: flex;
  justify-content: center;
  background: none;
}

#splash-content {
  padding: 2rem;
}

#splash-content .solo-text {
  margin: 2rem auto;
  width: max-content;
  max-width: 100%;
  text-align: center;
}

#splash-paragraph-container {
 font-size: 1.2rem;
 margin: 0 auto;
}
#splash-paragraph-container .ant-typography {
  margin-bottom: 0.5rem;
}

img {
  max-width: 100%;
  height: auto;
}
